* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Outfit1;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

@font-face {
    font-family: 'Outfit1';
    src: url("../fonts/Outfit-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Outfit2';
    src: url("../fonts/Outfit-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
:root {
    --verdeclaro: #9bcc5e;
    --verdefuerte: #70b346;
    --amarilloclaro: #fdfff3;
    --verdeoscuro: #458d3f;
    --negro: #4a4844;
    --textoclaro: #c8e1a9;
    --textogris: #938f9a;
    --blanco: white;
  }
  
body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--blanco);
    min-height: 1rem;
    /* border: red solid 2px; */
}
.logoNav {
    /* border: red solid 2px; */
    width: 23%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
.logoNav img {
    width: 17rem;
    transition: 0.4s;
    /* border: yellow solid 1px; */
}
.logoNav img:hover {
    width: 17.5rem;
    /* border: yellow solid 1px; */
}

.menuNav{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    /* border: green solid 2px; */
    min-height: 5rem;
}

.menuNav ul li {
    /* border: orange solid 2px; */
    min-height: 2rem;
    align-items: center;
    display: inline;
    
    /* width: 5rem; */
}
.menuNav a {
    font-size: 1.1rem;
    align-items: center;
    /* border: blue solid 1px; */
    color: var(--negro);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: 0.3s;
}
.menuNav a:hover {
    color: var(--verdeclaro);
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 65rem;
    background-color: var(--verdeoscuro);
    
    /* border: orange solid 2px; */
}
header img {
    width: 100%;
    min-height: 30rem;
}
.div-Saludo {
    position: absolute;
    top: 20rem;
    z-index: 5;
    display: flex;
    padding: 1rem;
    /* align-self: center; */
    align-items: center;
    min-height: 7rem;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.712);
    backdrop-filter: blur(1rem);
    border-radius: 0.6rem;
}
.tarjetas-paginas {
    /* position: relative; */
    width: 24%;
    z-index: 5;
    border: var(--textoclaro) solid 0.2rem;
    border-radius: 0.6rem;
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
    align-self: center;
    align-items: start;
    height: 15rem;
    text-align: center;
    background-color: var(--verdeclaro);
    transition: 0.3s;
}
.tarjetas-paginas h2 {
    color: var(--blanco)
}
.tarjetas-paginas p {
    color: var(--amarilloclaro);
    /* border: red solid 2px; */
}

.tarjetas-paginas:hover {
    background-color: var(--amarilloclaro)

}
.tarjetas-paginas:hover p {
    color: var(--negro);
}
.tarjetas-paginas:hover h2 {
    color: var(--verdeclaro)
}



h1{
    font-family: Outfit2;
    color: var(--verdefuerte);
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
h2{
    font-family: Outfit2;
    color: var(--verdefuerte);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}
h3 {
    font-family: Outfit2;
    color: var(--negro);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

p {
    color: var(--textogris);
    line-height: 1.7rem;
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 1.1rem;
}

main {
    background-color: var(--amarilloclaro);
    width: 100%;
    min-height: 100rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    min-height: 40rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--amarilloclaro);
    /* border: orange solid 2px; */
}
.section-verde {
    background-color: var(--verdeclaro);
    
}
.section-verde p, .section-verde h2 {
    color: var(--amarilloclaro);
    
}
.textoSeccion {
    width: 50%;
    min-height: 20rem;
    /* border: purple 1px solid; */
}
.imgSeccion {
    display: flex;
    justify-content: center;
    width: 50%;
    /* border: salmon 1px solid; */
    min-height: 30rem;
}
.imgSeccion img{
    height: 30rem;
    border-radius: 0.6rem;
    /* border: salmon 1px solid; */
    /* min-height: 15rem; */
}

footer {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 2rem;
    /* padding-bottom: 1rem; */
    flex-wrap: wrap;
    width: 100%;
    min-height: 15rem;
    background-color: var(--verdeoscuro);
}
footer a, footer p{
    color: var(--textoclaro);
    text-justify: center;

}
.footerLogo img {
    width:15rem;

}

.footerLogo {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 30%;
    /* border: red solid 1px; */
    min-height: 10rem;
}
.footerNav {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 30%;
    /* border: red solid 1px; */
    min-height: 10rem;
}
.footerNav ul  li{
    line-height: 1.7rem;

}
.footerRRSS {

    width: 30%;

}
.footerRRSS img {
    width: 3rem;
    /* border: red solid 2px; */
}
.footerRRSS ul li {
    color: var(--textoclaro);
    display: inline;
    /* border: green solid 2px; */
}
.footerRRSS p {
    display: inline;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    color: var(--textoclaro);
    /* border: green solid 2px; */
}
.footerRights {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border: red solid 1px; */
    min-height: 2rem;
}
